body {
  margin: 0;
  color: white;
  background-color: black;
  font-size: 48px;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

canvas {
  image-rendering: pixelated;
}

#imgui-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
